# VetiSoin - Reecriture URL vers index.php
# Auteur : Samuel Tido Kaze - 22.04.2026 - Projet TPI
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
